
module rhel-mysql 1.0;

require {
	type mysqld_safe_t;
	type postfix_pickup_t;
	type groupadd_t;
	type mysqld_t;
	type file_t;
	type var_lib_t;
	class lnk_file { read getattr };
	class dir { getattr search };
	class file { read getattr open };
}

#============= groupadd_t ==============

#!!!! This avc is allowed in the current policy
allow groupadd_t var_lib_t:file read;

#============= mysqld_safe_t ==============

#!!!! This avc is allowed in the current policy
allow mysqld_safe_t var_lib_t:lnk_file { read getattr };

#============= mysqld_t ==============

#!!!! This avc is allowed in the current policy
allow mysqld_t file_t:dir { getattr search };

#!!!! This avc is allowed in the current policy
allow mysqld_t var_lib_t:file { read getattr open };

#!!!! This avc is allowed in the current policy
allow mysqld_t var_lib_t:lnk_file read;

#============= postfix_pickup_t ==============

#!!!! This avc is allowed in the current policy
allow postfix_pickup_t var_lib_t:file read;
